<!DOCTYPE html>

<head>
  <title>Polygon CSS Website Template</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->

  <link rel="stylesheet" href="{{ url_for('css', filename= 'bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('css', filename= 'font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('css', filename= 'templatemo-misc.css') }}">
  <link rel="stylesheet" href="{{ url_for('css', filename= 'templatemo-style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>

</head>

<body style="overflow:hidden;">

  <h1 style=" font-size:50px; text-align: center;">CALAMITY PREDICTOR</h1>
  <div class="container" style="margin-top:40vh; min-height:60vh;">

    <div class="hex col-sm-6">

      <div class="hexagon hexagon2 gallery-item">
        <div class="hexagon-in1">
          <div class="hexagon-in2" style="background-image: url(images/gallery/1.jpg);">
            <span>
              <h4>Earthquake</h4>
            </span>
          </div>
        </div>
      </div>
    </div>

    <a href="floods.html">
      <div class="hex col-sm-6 ">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(images/gallery/2.jpg);">
                <span>
                  <h4 style="color: white;">Floods</h4>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <div class="hex col-sm-6 ">
      <div>
        <div class="hexagon hexagon2 gallery-item">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style="background-image: url(images/gallery/3.jpg);">
              <span>
                <h4>Tsunami</h4>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hex col-sm-6">
      <div>
        <div class="hexagon hexagon2 gallery-item">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style="background-image: url(images/gallery/4.jpg);">
              <span>
                <h4>Volcano</h4>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hex col-sm-6">
      <div>
        <div class="hexagon hexagon2 gallery-item">
          <div class="hexagon-in1">
            <div class="hexagon-in2" style="background-image: url(images/gallery/5.jpg);">
              <span>
                <h4>Cyclone</h4>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>